body {
  background-color: #4169E1;
  margin: auto;
  
}

section {
  background: #ADD8E6;
  box-shadow: 1px 1px 3px black;
  text-align: center;
  border-radius: 10px;
  width: 500px;
  margin: auto;
  padding: 10px;
  line-height: 30px;
  
}

header{
  text-align: center;
/*  color: white;*/
}

footer{
  text-align: center;
  /*color: white;*/
}

#res {
  
  
}
